gdown==5.0.0
grpcio==1.58.0
grpcio-tools==1.58.0
numpy==1.25.2
onnx==1.14.1
opencv-python==4.8.1.78
packaging==23.1
pandas==2.0.3
pydantic==2.2.0
pydantic-settings==2.0.3
pydantic_core==2.6.0
qdrant-client==1.5.4